html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: "Avenir Next",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  height: 100vh;
  text-rendering: optimizeLegibility;
  width: 100vw;
}
body {
  margin: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &.dark {
    background-color: black;
  }

  &.light {
    background-color: white;
  }
}

.main {
  margin-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 34rem;
}

a {
  color: black;
}

.dark {
  .nav {
    border: black;
  }
}
