.header__container {
  max-width: 28rem;
  justify-content: left;
}

.header__title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.header__subtitle {
  font-size: 1rem;
}

.header__subtitle a {
  color: #888;
}

.header__subtitle a:visited {
  color: #888;
}

.header__subtitle a:hover {
  color: #ffa86b;
}